.headermenu {
    list-style-type: none;
    padding: 0;
}

.list-item {
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
}
.cart {
    background-color: #4592FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.cart-img {
    margin-right: 10px;
}